@model Ru.GameSchool.DataLayer.Repository.Level

<div class="control-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.Name, new { rel="popover", @class="input-xlarge" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Start, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.Start, new { rel = "popover", @class = "input-large", @data_datepicker = "datepicker" })
        @Html.ValidationMessageFor(model => model.Start)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Stop, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.Stop, new { rel = "popover", @class = "input-large", @data_datepicker = "datepicker" })
        @Html.ValidationMessageFor(model => model.Stop)
    </div>
</div>

<script language="javascript">
    $(document).ready(function () {
        $('[jid="datepicker"]').attr({ "data-datepicker": "datepicker" })

        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        };

        $.datepicker.setDefaults({ validateDate: 'false' });
        $.datepicker.regional['is-IS']
        $('.Start').datepicker({ dateFormat: "d.m.yy 00:00:01" });
        $('.Stop').datepicker({ dateFormat: "d.m.yy 23:59:59" });


    });
</script>
