@model Ru.GameSchool.DataLayer.Repository.Level

@using (Html.BeginForm("Create", "Exam", new { id = Model.CourseId }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Búa til nýtt borði</legend>
        <div class="control-group">
            @Html.LabelFor(model => model.CourseId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(model => model.CourseId, (IEnumerable<SelectListItem>)ViewBag.CourseList, "Veldu námskeið")
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>
        @Html.Partial("_LevelForm")

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Búa til borð</button>
            @Html.ActionLink("Fara aftur í borð", "Item", "Course", new { id = Model.CourseId }, new { @class = "btn" })
        </div>
    </fieldset>
}

