@{
    ViewBag.Title = "Búa til tilkynningu";
}
@model Ru.GameSchool.DataLayer.Repository.Announcement

@using (Html.BeginForm("CreateAnnouncement", "Level", new { id = Model.CourseId }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ný tilkynning</legend>
        <div class="control-group">
            @Html.LabelFor(model => model.CourseId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(model => model.CourseId, (IEnumerable<SelectListItem>)ViewBag.CourseList, "Veldu námskeið")
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>
        @Html.Partial("_AnnouncementForm")

        <div class="control-group">
            @Html.LabelFor(model => model.SendNotification, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(m => m.SendNotification)
            </div>
          </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Búa til tilkynningu</button>
            @Html.ActionLink("Fara aftur í borð", "Item", "Course", new { id = Model.CourseId }, new { @class = "btn" })
        </div>
    </fieldset>
}
