@model Ru.GameSchool.DataLayer.Repository.Level

@{
    ViewBag.Title = "Búa til  borð";
}

<h2>@ViewBag.Title</h2>

@section sidebar {

@Html.Partial("_TeacherSideBar")

}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>


        @Html.DropDownListFor(model => model.CourseId, (IEnumerable<SelectListItem>)ViewBag.CourseList, "Veldu námskeið")
        @Html.ValidationMessageFor(model => model.CourseId)

        @Html.Partial("_LevelForm")

        <div class="control-group">
            <label class="control-label"></label>
        <div class="controls">
            <button type="submit" class="btn btn-success" >Búa til borð</button>
        </div>
        </div>
    </fieldset>
}

