@model Ru.GameSchool.DataLayer.Repository.Level

<ul class="nav nav-tabs">
    @foreach (var l in ViewBag.LevelTabs)
    { 
        <li @if (l.levelId == Model.LevelId) { <text>class="active"</text> } >
            <a @if(l.enabled || User.IsInRole("Teacher")) { <text>href="/Level/Get/@l.levelId"</text> } >
                @if(l.levelCompleteness == Ru.GameSchool.BusinessLayer.Enums.LevelCompleteness.Complete)
                { <i class="icon-thumbs-up"></i> }
                else if (l.levelCompleteness == Ru.GameSchool.BusinessLayer.Enums.LevelCompleteness.Failed)
                { <i class="icon-thumbs-down"></i> }
                @l.levelName @if (l.levelId == Model.LevelId)
                             { <text> - Lokar eftir: <span class="countdown" data-countdown="@Model.Stop.ToString("MM d, yyyy HH:mm:ss")"></span> </text> }
            </a>
        </li>
    } 
</ul>

<div class="display-label">
    @if (User.IsInRole("Teacher"))
    {
        <div class="pull-right">@Html.ActionLink("Breyta borði", "Edit", new { id = Model.LevelId }, new { @class="btn btn-small btn-success" })</div>
    }
    <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>

<div class="row-fluid">  
    <div class="span4 well">
        <h2>Myndbönd</h2>
        <ul>
            @foreach (var item in ViewBag.MaterialsVideo)
            {
                <li><a href="/Material/Get/@item.LevelMaterialId">@item.Title</a> @if (item.IsNew())
                                                                               {<span class="label label-important">Nýtt</span>}</li>
            }
        </ul>
        @Html.ActionLink("Öll myndbönd", "Index", "Material", new { id = ViewBag.CourseId }, new { @class = "btn" })
    </div>
    <div class="span4 well">
        <h2>Glærur</h2>
        <ul>
            @foreach (var item in ViewBag.MaterialsSlides)
            {
                <li><a href="/Material/Get/@item.LevelMaterialId">@item.Title</a> @if (item.IsNew())
                                                                               {<span class="label label-important">Nýtt</span>}</li>
            }
        </ul>
        @Html.ActionLink("Allar glærur", "Index", "Material", new { id = ViewBag.CourseId }, new { @class = "btn" })
    </div>
    <div class="span4 well">
        <h2>Tilkynningar</h2>
        <ul>
            @foreach (var m in ViewBag.Announcements)
            {
                <li><a href="/Course/Announcement/@m.AnnouncementId">@m.Title</a></li>
            }
        </ul>
        @Html.ActionLink("Allar tilkynningar", "Announcements", "Course", new { id = ViewBag.CourseId }, new { @class = "btn" })
    </div>
</div><!--/row-->
 
<div class="row-fluid">
    <div class="span4 well">
        <h2>Verkefni</h2>
        <ul>
            @foreach (var item in ViewBag.Projects)
            {
                <li>@Html.ActionLink(item.Name as string, User.IsInRole("Student") ? "Get" : "TeacherGet", "Project", new { id = item.LevelProjectId, courseId = ViewBag.CourseId }, null) @if (item.IsReturned(ViewBag.User.UserInfoId))
                                                                                                                                                              {<span class="label label-success new-material">Skilað</span>}
                                                                                                                                                              else if (item.IsNew())
                                                                                                                                                             {<span class="label label-important">Nýtt</span>}</li>
            }
        </ul>
        @Html.ActionLink("Öll verkefni", "Index", "Project", new { id = ViewBag.CourseId, courseId = ViewBag.CourseId }, new { @class = "btn" })
    </div>
    <div class="span4 well">
        <h2>Netpróf</h2>
        <ul>
            @foreach (var item in ViewBag.Exams)
            {
                <li>@Html.ActionLink(item.Name as string, "Index", "Exam", new { id = ViewBag.CourseId }, null) @if (item.IsNew())
                                                                                                                {<span class="label label-important">Nýtt</span>}</li>
            }
        </ul>
        @Html.ActionLink("Öll próf", "Index", "Exam", new { id = ViewBag.CourseId }, new { @class = "btn" })
    </div>
    <div class="span4 well">
        <h2>Skjöl</h2>
        <ul>
            @foreach (var item in ViewBag.MaterialsDocs)
            {
                <li><a href="/Material/Get/@item.LevelMaterialId">@item.Title</a> @if (item.IsNew())
                                                                                  {<span class="label label-important">Nýtt</span>}</li>
            }
        </ul>
        @Html.ActionLink("Öll skjöl", "Index", "Material", new { id = ViewBag.CourseId }, new { @class = "btn" })
    </div>
</div>

      




