@model Ru.GameSchool.DataLayer.Repository.Course



<script>
    $(document).ready(function () {

        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        };

        $.datepicker.setDefaults({ validateDate: 'false' });
        $.datepicker.regional['is-IS']
        $('.Start').datepicker({ dateFormat: "d.m.yy 00:00:01" });
        $('.Stop').datepicker({ dateFormat: "d.m.yy 23:59:59" });


    });
</script>


@if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
      <button class="close" data-dismiss="alert">×</button>
      <strong>Tókst!</strong> @ViewBag.SuccessMessage
    </div>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      <strong>Villa!</strong> @ViewBag.ErrorMessage
    </div>
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm("Course", "Admin", FormMethod.Post))
{
    <fieldset>

        <div class="control-group">
            @Html.LabelFor(x => x.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Name, new { @class = "input-xlarge" })
                <span class="help-inline">@Html.ValidationMessageFor(x => x.Name)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(x => x.Description, new { @class = "input-xlarge" })
                <span class="help-inline">@Html.ValidationMessageFor(x => x.Description)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Identifier, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Identifier, new { @class = "input-xlarge" })
                <span class="help-inline">@Html.ValidationMessageFor(x => x.Identifier)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.CreditAmount, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.CreditAmount, new { @class = "input-xlarge" })
                <span class="help-inline">@Html.ValidationMessageFor(x => x.CreditAmount)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Start, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Start, new { @class = "input-xlarge", @data_datepicker = "datepicker" })
                <span class="help-inline">@Html.ValidationMessageFor(x => x.Start)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Stop, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Stop, new { @class = "input-xlarge", @data_datepicker = "datepicker" })
                <span class="help-inline">@Html.ValidationMessageFor(x => x.Stop)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.DepartmentId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "DepartmentId", "Name"))
                <span class="help-inline">@Html.ValidationMessageFor(x => x.DepartmentId)</span>
            </div>
        </div>


        <div class="control-group">
        
            <div class="controls">
            <button type="submit" class="btn btn-success" >
                <i class="icon-ok icon-white"></i>
                Vista Námskeið
            </button>
            </div>
        </div>

    </fieldset>
}