@model Ru.GameSchool.DataLayer.Repository.LevelExamQuestion

<div class="pull-right">Skil eftir: <strong class="countdown" data-countdown="@Model.LevelExam.Stop.ToString("MM d, yyyy HH:mm:ss")" data-reload="1"></strong></div>
<h2>Spurning @ViewBag.Placement af @Model.LevelExam.LevelExamQuestions.Count()</h2>

@using (Html.BeginForm("Question", "Exam", FormMethod.Post, new { @class="well" }))
{
    <h3>@Model.Question</h3>
    
    <div class="control-group">
        <div class="controls">
            @foreach (var item in Model.LevelExamAnswers)
            {
              <label class="radio">
                @Html.RadioButton("LevelExamAnswerId", item.LevelExamAnswerId, (bool)(ViewBag.UserAnswer == item.LevelExamAnswerId))
                @item.Answer
              </label>
            }
        </div>
    </div>
    @Html.HiddenFor(m => m.LevelExamQuestionId)
    
    <input type="submit" value="Áfram" class="btn btn-primary" />
}

@Html.ActionLink("Skila prófi", "ReturnExam", new { id = Model.LevelExamId }, new { @class="btn btn-warning" })