@model Ru.GameSchool.DataLayer.Repository.LevelExam


<h2>@Model.Name</h2>

<fieldset>
    <legend>Taka próf</legend>
    
    @for (var j = 1; j <= Model.LevelExamQuestions.Count;j++  )
    {
        <div class="control-group">
            @Html.DisplayNameFor(m => Model.LevelExamQuestions.ElementAtOrDefault(j).Question) @j
            <i>  @Html.DisplayFor(m => Model.LevelExamQuestions.ElementAtOrDefault(j).Question)</i>
            @foreach(var exam in Model.LevelExamQuestions)
            {
                <br/>
                @exam.LevelExamAnswers.Select(x => x.Answer).FirstOrDefault()
                @Html.RadioButtonFor(m => exam.LevelExamAnswers, " ")
                <br/>
            }
        </div>
    }
   

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LevelExamId }) |
</p>
