@model Ru.GameSchool.DataLayer.Repository.LevelMaterial

@if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">
            ×</button>
        <strong>Tókst!</strong> @ViewBag.SuccessMessage
    </div>
}
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">
            ×</button>
        <strong>Villa!</strong> @ViewBag.ErrorMessage
    </div>
}


@using (Html.BeginForm("Edit", "Material", new {id=Model.LevelMaterialId}, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Kennslugagn</legend>
        @Html.HiddenFor(m => m.LevelMaterialId)
        @Html.Partial("_MaterialForm")

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success" >Uppfæra kennslugagn</button>
            </div>
        </div>
    </fieldset>
}