@{
    ViewBag.Title = "Listi yfir kennsluefni";
}

<h2>Listi yfir kennsluefni</h2>

@section sidebar {
    @if (User.IsInRole("Teacher")) 
    {
        @Html.Partial("_TeacherSideBar")
    } 
    else
    {
        @Html.Partial("_LeftSideBar")
    }
}



<ul>
    @foreach(var item in ViewBag.Materials)
    {
        <li>@Html.ActionLink((@item.Title +" - "+@item.ContentTypeId) as string, User.IsInRole("Student") ? "Get" : "Edit", new { LevelMaterialId = @item.LevelMaterialId })</li>
    }
</ul>