@model Ru.GameSchool.DataLayer.Repository.LevelProject
@{
    ViewBag.Title = "Búa til verkefni";
}
<h2>
    Búa til nýtt verkefni</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Upplýsingar</legend>
        <div class="control-group">
            <label class="control-label">
                Nafn</label>
            <div class="controls">
                <div class="input-xlarge" id="name" name="name" rel="popover" data-content="Settu inn nafn."
                    data-original-title="Nafn námskeiðs">
                    @Html.EditorFor(m => m.Name)
                </div>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LevelId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(model => model.LevelId, new SelectList(ViewBag.LevelCount, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.LevelId)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ContentID, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.ContentID, new { type = "file", @class="input-xlarge" })
                @Html.ValidationMessageFor(model => model.ContentID)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="select01">
                Vægi</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.GradePercentageValue, new SelectList(ViewBag.GradePercentageValue, "Value", "Text"))
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Start)
        </div>
        @Html.TextBoxFor(model => model.Start, new { data_datepicker = "datepicker" })
        @Html.ValidationMessageFor(model => model.Start)
        <div class="editor-label">
            @Html.LabelFor(model => model.Stop)
        </div>
        @Html.TextBoxFor(model => model.Stop, new { data_datepicker = "datepicker" })
        @Html.ValidationMessageFor(model => model.Stop)
        <div class="control-group">
            <label class="control-label" for="textarea">
                Lýsing</label>
            <div class="controls">
                <div class="input-xlarge" id="lysing" rows="3" rel="popover" data-content="Settu inn lýsingu á námskeiði."
                    data-original-title="Lýsing">
                    @Html.EditorFor(m => m.Description)
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
            </label>
            <div class="controls">
                <button type="submit" class="btn btn-success">
                    Búa til verkefni</button>
            </div>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Aftur á forsíðu verkefna", "Index")
</div>
