@using Ru.GameSchool.DataLayer.Repository
@model LevelProject
@{
    ViewBag.Title = "Eyða verkefni";
}
        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">
                    ×</button>
                <strong>Villa!</strong> @ViewBag.ErrorMessage
            </div>
        }
<br />
<h2>
    Ertu viss um að þú viljir eyða verkefni?</h2>
<fieldset>
    <div class="control-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        <div class="controls">
            <strong>@Html.DisplayTextFor(model => model.Name)</strong>
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        <div class="controls">
            <strong>@Html.DisplayTextFor(model => model.Description)</strong>
        </div>
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">
                    Eyða verkefni</button>
            </div>
        </div>
        @Html.ActionLink("Aftur á forsíðu", "Index")
    </p>
}
