@using Ru.GameSchool.DataLayer.Repository
@model LevelProject
<h2>
    Breyta verkefni</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@using (Html.BeginForm("Edit", "Project", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Upplýsingar</legend>
        @Html.HiddenFor(model => model.LevelProjectId)
        @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">
                    ×</button>
                <strong>Tókst!</strong> @ViewBag.SuccessMessage
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">
                    ×</button>
                <strong>Villa!</strong> @ViewBag.ErrorMessage
            </div>
        }
        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name, new { @class = "input-xlarge", rel = "popover" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LevelId, "Level")
            <div class="controls">
                @Html.DropDownList("LevelId", string.Empty)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LevelId)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.GradePercentageValue)
            <div class="controls">
                @Html.DropDownListFor(m => m.GradePercentageValue, new SelectList(ViewBag.GradePercentageValue, "Value", "Text"))
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Start, new { @data_datepicker = "datepicker", rel = "popover" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Start)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Stop, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Stop, new { @data_datepicker = "datepicker", rel = "popover" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Stop)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Description, new { @class = "input-xlarge", rel = "popover", cols = "30", rows = "10" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Description)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ContentID, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.ContentID, new { type = "file", @class = "input-file", rel = "popover" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.ContentID)</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">
                    Breyta verkefni</button>
            </div>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Aftur á forsíðu verkefna", "Index")
</div>
<script>
    $(document).ready(function () {

        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        };

        $.datepicker.setDefaults({ validateDate: 'false' });
        $.datepicker.regional['is-IS']
        $('.Start').datepicker({ dateFormat: "d.m.yy 00:00:01" });
        $('.Stop').datepicker({ dateFormat: "d.m.yy 23:59:59" });


    });
</script>
