@using Ru.GameSchool.DataLayer.Repository
@model LevelProject
@using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Upplýsingar um verkefni</legend>
        @Html.HiddenFor(model => model.LevelProjectId)
        @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">
                    ×</button>
                <strong>Tókst!</strong> @ViewBag.SuccessMessage
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">
                    ×</button>
                <strong>Villa!</strong> @ViewBag.ErrorMessage
            </div>
        }
        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name, new { @class = "input-xlarge", rel = "popover" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LevelId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("LevelId", string.Empty)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LevelId)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.GradePercentageValue, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.GradePercentageValue, new SelectList(ViewBag.GradePercentageValue, "Value", "Text"))
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Start, new { @data_datepicker = "datepicker", rel = "popover",id = "start" }) <span class="date" style="visibility: hidden;">Byrjunardagsetning má ekki vera stærri en endadagsetning</span>
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Start)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Stop, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Stop, new { @data_datepicker = "datepicker", rel = "popover",id ="stop" }) <span class="date" style="visibility: hidden; color:yellow;">*</span>
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Stop)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Description, new { @class = "input-xlarge", rel = "popover", cols = "30", rows = "10" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Description)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.File, new { @class = "control-label" })
            <div class="controls">
                <input type="file" name="File"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" id="submit" class="btn btn-primary">Breyta verkefni</button>
                @Html.ActionLink("Aftur á forsíðu verkefna", "Index", new { id = ViewBag.CourseId }, new { @class = "btn btn-small"})
            </div>
        </div>
    </fieldset>
}

<script>
    $(document).ready(function () {

        jQuery.validator.methods["date"] = function (value, element) {
            return true;
        };

        $.datepicker.setDefaults({ validateDate: 'false' });
        $.datepicker.regional['is-IS']
        $('.Start').datepicker({ dateFormat: "d.m.yy 00:00:01" });
        $('.Stop').datepicker({ dateFormat: "d.m.yy 23:59:59" });


        var start = $("#start");
        var stop = $("#stop");
        var submit = $("#submit");
        var error = $(".date");

        submit.click(function () {
            if (start.val() > stop.val()) {
                error.css('visibility', 'visible');
                return false;
            }
        });

    });
</script>
