@model Ru.GameSchool.DataLayer.Repository.LevelProject
@{
    ViewBag.Title = "Breyta verkefni";
}
<h2>
    Breyta verkefni</h2>
@if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">
            ×</button>
        <strong>Tókst!</strong> @ViewBag.SuccessMessage
    </div>
}
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">
            ×</button>
        <strong>Villa!</strong> @ViewBag.ErrorMessage
    </div>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@using (Html.BeginForm("Edit", "Project", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.NameOfProject</legend>
        @Html.HiddenFor(model => model.LevelProjectId)
        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name, new { @class = "input-xlarge" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>
        @*nafn*@

        <div class="control-group">
            @Html.LabelFor(model => model.GradePercentageValue, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("GradePercentageValue")
                <span class="help-inline">@Html.ValidationMessageFor(model => model.GradePercentageValue)</span>
            </div>
        </div>@*Vægi*@
        <div class="control-group">
            @Html.LabelFor(model => model.LevelId, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(model => model.LevelId, new SelectList(ViewBag.LevelCount, "Value", "Text"))
                <span class="help-inline">@Html.ValidationMessageFor(x => x.LevelId)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Start, new { data_datepicker = "datepicker", @class = "input-xlarge" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Start)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Stop, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Stop, new { data_datepicker = "datepicker", @class = "input-xlarge" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Stop)</span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(model => model.Description, new { @class = "input-xlarge", rows = "10", cols = "30" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Description)</span>
            </div>
        </div>
        <p>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">
                        <i class="icon-ok icon-white"></i>Breyta prófi
                    </button>
                </div>
            </div>
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Aftur á forsíðu verkefna", "Index")
</div>
