@model Ru.GameSchool.DataLayer.Repository.LevelProject

@{
    ViewBag.Title = "Verkefni";
}
<h2>Verkefni</h2>

@section sidebar {

@Html.Partial("_LeftSideBar")

}
@section courseheading {

@Html.Partial("_courseheading")

}

<article>
    <h3><span class="gray">@ViewBag.LevelProject.Start | </span>@ViewBag.LevelProject.Name</h3>
    
    
    @ViewBag.LevelProject.Description
    

    <br/>
    <div><p>Skilafrestur: @ViewBag.LevelProject.Stop</p></div>
    
    
    <div><p>Leyfilegar skrár:
             @foreach (var item in ViewBag.AllowedFileExtensions)
             {
                 @item  

             }
         </p></div>
</article>

@using (Html.BeginForm())
{
    <h4>Skila verkefni:</h4>
    <div class="control-group">
        <label class="control-label">Skrá</label>
        <div class="controls">
            <input type="file" class="input-file" id="user_name" name="user_name" rel="popover" >
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="textarea">Skilaboð</label>
        <div class="controls">
            <textarea class="input-xlarge" id="lysing" rows="3" rel="popover" data-content="Settu inn lýsingu á námskeiði." data-original-title="Lýsing"></textarea>
        </div>
    </div>
    if (User.IsInRole("Nemandi"))
    {
  
    }
    <button type="submit" class="btn">Skila verkefni</button>  

}
    
