@model Ru.GameSchool.DataLayer.Repository.LevelProject
@{
    ViewBag.Title = "Verkefni";
}
<h2>@ViewBag.LevelProject.Name<br />
</h2>
@section sidebar {
    @*@Html.Partial("_LeftSideBar")*@
}
@section courseheading {
    @*@Html.Partial("_courseheading")*@
}
<article>
    <h3><span class="gray">@ViewBag.LevelProject.Start | Vægi verkefnis - @ViewBag.LevelProject.GradePercentageValue%</span></h3>
    
    
    @ViewBag.LevelProject.Description
    

    <br/>
    <div><p>Skilafrestur: @ViewBag.LevelProject.Stop</p></div>
    
    
    <div><p>Leyfilegar skrár:
             @foreach (var item in ViewBag.AllowedFileExtensions)
             {
                 @item  
             }
         </p></div>
</article>
@using (Html.BeginForm())
{
    <h4>
        Skila verkefni:</h4>
    <div class="control-group">
        <label class="control-label">
            Skrá</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.ProjectUrl, new { type = "file", @class = "input-file", rel = "popover" })
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="textarea">
            Skilaboð til kennara</label>
        <div class="controls">
            vantar
        </div>
    </div>
    if (User.IsInRole("Student"))
    {
        if (ViewBag.LevelProject.LevelProjectResults != null)
        {
    <h4>
        Búið að skila verkefni!</h4> 
        }
        else
        {
    <button type="submit" class="btn" value="return">
        Skila verkefni</button>       
        }
    }


}
<div>
    @Html.ActionLink("Aftur á forsíðu verkefna", "Index")
</div>

