@using Ru.GameSchool.DataLayer.Repository
@model LevelProject
@using (Html.BeginForm("ReturnProject", "Project", FormMethod.Post))
{ 
    
    @Html.HiddenFor(m => m.LevelProjectId)
    
    <article>
    <h3><span class="gray">Skilafrestur @Html.DisplayFor(model => model.Stop) | @Html.DisplayNameFor(model => model.GradePercentageValue) - @Html.DisplayFor(model => model.GradePercentageValue)%</span></h3>
   
              <div class="control-group">
      <h3>  @Html.DisplayNameFor(model => model.Name)</h3>
    <div class="container-fluid">
        <div class="controls">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    </div>
   
    <div class="control-group">
        <h3>  @Html.DisplayNameFor(model => model.LevelId)</h3>
        <div class="container-fluid">
            <div class="controls">
                @Html.DisplayFor(model => model.LevelId)
            </div>
        </div>
    </div>


    <div class="control-group">
        <h3>  @Html.DisplayNameFor(model => model.Description)</h3>
        <div class="container-fluid">
            <div class="controls">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>

    <div class="control-group">
        <h3>  @Html.DisplayNameFor(model => model.ContentID)</h3>
        <div class="container-fluid">
            <div class="controls">
                @Html.TextBoxFor(m => m.ContentID, new { type = "file", @class = "input-file", rel = "popover" })
            </div>
        </div>
    </div>

        <div class="control-group">
        <h3>  @Html.DisplayNameFor(model => model.UserFeedback)</h3>
        <div class="container-fluid">
            <div class="controls">
                @Html.TextBoxFor(model => model.UserFeedback, new { @class = "input-xlarge", rel = "popover", cols = "30", rows = "10" })
            </div>
        </div>
    </div>

    <div class="control-group"><p>Leyfilegar skrár:
             @foreach (var item in ViewBag.AllowedFileExtensions)
             {
               <i>  @item  </i>
             }
         </p></div>
    
</article>
           
             if (Model.LevelProjectResults.Count == 0)
             {
                 if (!(Model.Stop < DateTime.Now))
                 {
    <div class="control-group">
        <label class="control-label">
        </label>
        <div class="controls">
            <button type="submit" id="submitbtn" class="btn btn-success">
                Skila verkefni</button>
        </div>
    </div>   
                 }
                 else
                 {
                        <strong>Skilafrestur búinn!</strong>  
                 }

             }
             else
             {
    <strong>Búið að skila verkefni!</strong>  
             }
}
<div class="control-group">
    <div class="controls">
        @Html.ActionLink("Aftur á forsíðu verkefna", "Index")
    </div>
</div>
