@using Ru.GameSchool.DataLayer.Repository
@model LevelProject
@using (Html.BeginForm("ReturnProject", "Project", FormMethod.Post))
{ 
    
    @Html.HiddenFor(m => m.LevelProjectId)
    
    <article>
    <h3><span class="gray">Skilafrestur @Html.DisplayFor(model => model.Stop) | @Html.DisplayNameFor(model => model.GradePercentageValue) - @Html.DisplayFor(model => model.GradePercentageValue)%</span></h3>
   
              <div class="control-group">
      <h3>  @Html.DisplayNameFor(model => model.Name)</h3>
    <div class="container-fluid">
        <div class="controls">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    </div>
   
    <div class="control-group">
        <h3>  @Html.DisplayNameFor(model => model.Level.Name)</h3>
        <div class="container-fluid">
            <div class="controls">
                @Html.DisplayFor(model => model.Level.Name)
            </div>
        </div>
    </div>


    <div class="control-group">
        <h3>  @Html.DisplayNameFor(model => model.Description)</h3>
        <div class="container-fluid">
            <div class="controls">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ContentID, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.ContentID, new { type = "file", @class = "file", rel = "popover" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.ContentID)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.UserFeedback, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UserFeedback, new { @class = "input-xlarge", rel = "popover", cols = "30", rows = "10" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.UserFeedback)</span>
            </div>
        </div>


    <div class="control-group"><p>Leyfilegar skrár:
             @foreach (var item in ViewBag.AllowedFileExtensions)
             {
               <i>  @item  </i>
             }
         </p></div>
    
</article>
           
            
             if (!(Model.Stop < DateTime.Now))
             {
                 if (Model.LevelProjectResults.Select(s => s.UserInfoId).FirstOrDefault() != ViewBag.UserInfoId)
                 {
    <div class="control-group">
        <label class="control-label">
        </label>
        <div class="controls">
            <button type="submit" id="submitbtn" class="btn btn-success">
                Skila verkefni</button>
        </div>
    </div>   
                 }
                 else
                 {
    <text>Búið að skila verkefni</text>
                 }

             }
             else
             {
    <strong>Skilafrestur búinn!</strong>  
             }


}
<div class="control-group">
    <div class="controls">
        @Html.ActionLink("Aftur á forsíðu verkefna", "Index", new { id = ViewBag.CourseId }, new { @class = "btn btn-small" })
    </div>
</div>
