@using Ru.GameSchool.DataLayer.Repository
@model LevelProjectResult

@{
    ViewBag.Title = "Einkunnagjöf";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Verkefni</legend>

     @Html.HiddenFor(model => model.LevelProjectId)

             @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">
                    ×</button>
                <strong>Tókst!</strong> @ViewBag.SuccessMessage
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">
                    ×</button>
                <strong>Villa!</strong> @ViewBag.ErrorMessage
            </div>
        }
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Grade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Grade)
            @Html.ValidationMessageFor(model => model.Grade)
        </div>


        <div class="control-group">
            @Html.LabelFor(model => model.TeacherFeedback, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.TeacherFeedback, new { @class = "input-xlarge", rel = "popover", cols = "30", rows = "10" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.TeacherFeedback)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.UserFeedback, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UserFeedback, new { @class = "input-xlarge", rel = "popover", cols = "30", rows = "10" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.UserFeedback)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ContentID, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.ContentID, new { type = "file", @class = "input-file", rel = "popover" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.ContentID)</span>
            </div>
        </div>

        @Html.HiddenFor(model => model.LevelProjectResultId)

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">
                    Vista einkunn nemanda</button>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Aftur á forsíðu verkefna", "Index")
</div>
