@model IEnumerable<Ru.GameSchool.DataLayer.Repository.LevelProject>
@{
    ViewBag.Title = "Listi yfir verkefni";
}
<h2>
    Verkefnin mín</h2>
@section sidebar {
    @Html.Partial("_LeftSideBar")
}
@foreach (var items in ViewBag.Courses)
{
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            <tr>
                <th>@items.Identifier @items.Name
                </th>
                <th>
                    Einkunn
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GradePercentageValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @if (User.IsInRole("Teacher"))
                {
                    <th>
                        Aðgerðir kennara
                    </th>
                }
            </tr>
            @foreach (var i in items.Levels)
            {
                foreach (var j in i.LevelProjects)
                {
                <tr>
                    <td>
                        @Html.ActionLink((@j.Name + " - Skiladagur: " + @j.Stop.ToString("dd.MM.yyyy HH:mm")) as string, "Get", new { levelProjectId = @j.LevelProjectId })
                    </td>
                    <td>
                        @foreach (var x in j.LevelProjectResults)
                        {
                            if (Math.Abs(@x.Grade) > 0)
                            {
                            @x.Grade
                            }
                            else
                            {
                            <i>Enginn einkunn</i>          
                            }
                        }
                    </td>
                    <td>
                        Vægi: @j.GradePercentageValue%
                    </td>
                    <td>
                        @j.Description
                    </td>
                    @if (User.IsInRole("Teacher"))
                    {
                        <td>
                            @Html.ActionLink("Breyta", "Edit", new { levelProjectId = j.LevelProjectId }) |
                            @Html.ActionLink("Eyða", "Delete", new { levelProjectId = j.LevelProjectId })
                        </td>   
                    }
                </tr>
                }
            }
        </tbody>
    </table>

}
@if (User.IsInRole("Teacher"))
{
    <p>
        <button name="button" class="btn btn-success" value="Create" onclick="location.href='@Url.Action("Create", "Project")'">
            Búa til nýtt verkefni</button>
    </p>
}