@using Ru.GameSchool.DataLayer.Repository
@model IEnumerable<Course>
@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Sjá allt", "Index", new { id = "" })
}
@foreach (var course in Model)
{
    <table class="table table-striped table-bordered table-condensed">
        <caption>
            <h1>@course.Name</h1>
            <i>@course.Identifier</i></caption>
        <tbody>
            <tr>
                <th>
                    Nafn verkefnis
                </th>
                <th>
                    Skilafrestur
                </th>
                <th>
                    Lýsing
                </th>
                @if (User.IsInRole("Teacher"))
                {
                    <th>
                        Aðgerðir kennara
                    </th>
                }
                else
                {
                    <th>
                        Einkunn
                    </th>
                    <th>
                        Athugasemd kennara
                    </th>
                }
            </tr>
            @foreach (var innerItem in course.Levels)
            {
                foreach (var innerInnerItem in innerItem.LevelProjects)
                {
                <tr>
                    <td>
                        @Html.ActionLink(@innerInnerItem.Name, User.IsInRole("Teacher") ? "TeacherGet" : "Get", new { id = @innerInnerItem.LevelProjectId })
                    </td>
                    <td>
                        @innerInnerItem.Stop
                    </td>
                    <td>
                        @innerInnerItem.Description
                    </td>
                    @if (User.IsInRole("Teacher"))
                    {
                        <td>
                            @Html.ActionLink("Breyta", "Edit", new { id = innerInnerItem.LevelProjectId }) |
                            @Html.ActionLink("Eyða", "Delete", new { id = innerInnerItem.LevelProjectId })
                        </td>
                    }
                    else if (User.IsInRole("Student"))
                    {
                        if (innerInnerItem.LevelProjectResults.Any(x => x.Grade == null))
                        {
                        <td>
                            <i>Enginn einkunn kominn!</i>
                        </td>
                        <td>
                        </td>
                        }
                        else if (innerInnerItem.LevelProjectResults.Count == 0)
                        {
                        <td>
                            <i>Ekki búið að skila verkefni!</i>
                        </td>
                        <td>
                        </td>
                        }
                        else
                        {
                            foreach (var result in innerInnerItem.LevelProjectResults.Where(s => s.UserInfoId == ViewBag.UserInfoId))
                            {
                        <td>
                            <i>@result.Grade</i>
                        </td>
                        <td>
                            @result.TeacherFeedback
                        </td>
                            }
                        }


                    }
                </tr>

                }
            }
        </tbody>
    </table>
            using (Html.BeginForm("Create", "Project", new { id = course.CourseId }, FormMethod.Post))
            {
                if (User.IsInRole("Teacher"))
                {
    <p>
        @Html.ActionLink("Búa til nýtt verkefni", "Create", new { id = course.CourseId }, new { @class = "btn btn-success" })
    </p>
                }
            }
}
