@using Ru.GameSchool.DataLayer.Repository
@model IEnumerable<Course>
@Html.ActionLink("Sjá allt", "Index", new { id = "" })
@foreach (var course in Model)
{
    <table class="table table-striped table-bordered table-condensed">
        <caption>
            <h1>@course.Name</h1>
            <i>@Html.ActionLink(@course.Identifier, "Index", new { id = course.CourseId })</i></caption>
        <tbody>
            <tr>
                <th>
                    Nafn verkefnis
                </th>
                <th>
                    Skilafrestur
                </th>
                <th>
                    Lýsing
                </th>
                <th>
                    Borð
                </th>
                @if (User.IsInRole("Teacher"))
                {
                    <th>
                        Fjöldi búinn að skila
                    </th>
                    <th>
                        Fjöldi óyfirfarna verkefna
                    </th>
                    <th>
                        Aðgerðir kennara
                    </th>
                }
                else
                {
                    <th>
                        Einkunn
                    </th>
                    <th>
                        Athugasemd kennara
                    </th>
                }
            </tr>
            @foreach (var innerItem in course.Levels)
            {
                foreach (var innerInnerItem in innerItem.LevelProjects)
                {
                    if (!(innerInnerItem.Start > DateTime.Now && User.IsInRole("Student")) && (ViewBag.AllowedLevelId > innerInnerItem.LevelId)) // Ekki sýna verkefni sem eru ekki byrjuð
                    {     
                <tr>
                    <td>
                        <!-- -->
                        @if (innerInnerItem.Start < DateTime.Now && User.IsInRole("Student"))
                        {
                            @Html.ActionLink(@innerInnerItem.Name, "Get", new { id = @innerInnerItem.LevelProjectId })if (@innerInnerItem.Start.AddHours(23) >= DateTime.Now)
                                                                                                                      {<span class="label label-important new-material">Nýtt</span>}
                        }
                        else if (User.IsInRole("Teacher"))
                        {
                            @Html.ActionLink(@innerInnerItem.Name, "TeacherGet", new { id = @innerInnerItem.LevelProjectId })if (@innerInnerItem.Start.AddHours(23) >= DateTime.Now)
                                                                                                                             {<span class="label label-important new-material">Nýtt</span>}
                        }
                        else if (innerInnerItem.Stop < DateTime.Now)
                        {
                            <i>Skilafrestur búinn!</i>
                        }
                    </td>
                    <td>
                        @innerInnerItem.Stop.ToShortDateString()
                    </td>
                    <td>
                        @innerInnerItem.Description
                    </td>
                    <td>
                        @Html.ActionLink(@innerInnerItem.Level.Name, "Get", "Level", new { id = innerInnerItem.LevelId }, null)
                    </td>
                    @if (User.IsInRole("Teacher"))
                    {

                        <td>
                            @innerInnerItem.LevelProjectResults.Count
                        </td>
                        <td>
                            @innerInnerItem.LevelProjectResults.Count(x => x.Grade == null)
                        </td>
                        <td>
                            <a name="button" class="btn btn-mini" href="@Url.Action("Edit", new { id = innerInnerItem.LevelProjectId })" >
                                <i class="icon-edit"></i>Breyta </a> | <a name="button" class="btn btn-mini" href="@Url.Action("Delete", new { id = innerInnerItem.LevelProjectId })" >
                                    <i class="icon-edit"></i>Eyða </a>
                        </td>
                    }
                    else if (User.IsInRole("Student"))
                    {
                        if (innerInnerItem.LevelProjectResults.Where(u => u.UserInfoId == ViewBag.UserInfoId).Any(x => x.Grade == null))
                        {
                        <td>
                            <i>Enginn einkunn kominn!</i>
                        </td>
                        <td>
                        </td>
                        }
                        else if (innerInnerItem.LevelProjectResults.Select(x => x.UserInfoId).FirstOrDefault() != ViewBag.UserInfoId)
                        {
                        <td>
                            <i>Ekki búið að skila verkefni!</i>
                        </td>
                        <td>
                        </td>
                        }
                        else
                        {
                            foreach (var result in innerInnerItem.LevelProjectResults.Where(s => s.UserInfoId == ViewBag.UserInfoId))
                            {
                        <td>
                            <i>@result.Grade</i>
                        </td>
                        <td>
                            @result.TeacherFeedback
                        </td>
                            }
                        }
                    }
                </tr>
                    }
                }
            }
        </tbody>
    </table>
            using (Html.BeginForm("Create", "Project", new { id = course.CourseId }, FormMethod.Post))
            {
                if (User.IsInRole("Teacher"))
                {
    <p>
        @Html.ActionLink("Búa til nýtt verkefni", "Create", new { id = course.CourseId }, new { @class = "btn btn-success" })
    </p>
                }
            }
}
