@using Ru.GameSchool.DataLayer.Repository
@model IEnumerable<Course>
    ViewBag.Title = "Verkefnin mín";
@foreach (var course in Model)
{
    <table class="table table-striped table-bordered table-condensed">
        <caption>
            <h1>@course.Name</h1>
            <i>@course.Identifier</i></caption>
        <tbody>
            <tr>
                <th>
                    Nafn verkefnis
                </th>
                <th>
                    Skilafrestur
                </th>
                <th>
                    Lýsing
                </th>
                @if (User.IsInRole("Teacher"))
                {
                    <th>
                        Aðgerðir kennara
                    </th>
                }
                else
                {
                    <th>
                        Einkunn
                    </th>
                    <th>
                        Teacher feedback
                    </th>
                }
            </tr>
            @foreach (var innerItem in course.Levels)
            {
                foreach (var innerInnerItem in innerItem.LevelProjects)
                {
                <tr>
                    <td>
                        @Html.ActionLink(@innerInnerItem.Name, "Get", new { id = @innerInnerItem.LevelProjectId })
                    </td>
                    <td>
                        @innerInnerItem.Stop
                    </td>
                    <td>
                        @innerInnerItem.Description
                    </td>
                    @if (User.IsInRole("Teacher"))
                    {
                        <td>
                            @Html.ActionLink("Breyta", "Edit", new { id = innerInnerItem.LevelProjectId }) |
                            @Html.ActionLink("Eyða", "Delete", new { id = innerInnerItem.LevelProjectId })
                        </td>
                    }
                    else
                    {
                        <td>
                            @{
                                if (innerInnerItem.LevelProjectResults.Count == 0)
                                {
                                    <i>Ekki búið að skila</i>
                                }
                                else
                                {
                                    <i>@innerInnerItem.LevelProjectResults.Select(x => x.Grade).FirstOrDefault()</i>
                                }
                            }
                        </td>
                        <td>
                            @innerInnerItem.LevelProjectResults.Select(x => x.TeacherFeedback).FirstOrDefault()
                        </td>
                    }
                </tr>
                }
            }
        </tbody>
    </table>
}
@if (User.IsInRole("Teacher"))
{
    <p>
        <button name="button" class="btn btn-success" value="Create" onclick="location.href='@Url.Action("Create", "Project")'">
            Búa til nýtt verkefni</button>
    </p>
}