@using Ru.GameSchool.DataLayer.Repository
@model IEnumerable<LevelProjectResult>
@{
    ViewBag.Title = "Fara yfir einkunnir nemenda";
}
<style type="text/css">
    .centered
    {
        margin: 0 auto !important;
        float: none !important;
    }
</style>
<div class="centered">
    <table class="table table-striped table-bordered table-condensed">
        <caption>
            Verkefni</caption>
        <thead>
            <tr>
                <th>
                    Aðgerð
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelProject.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserInfo.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherFeedback)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserFeedback)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContentID)
                </th>
                <th>@Html.DisplayNameFor(model => model.LevelProject.GradePercentageValue)
                </th>
                <th>@Html.DisplayNameFor(model => model.LevelProject.Description)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <a name="button" class="btn btn-mini" href="@Url.Action("GradeProject", new { id = item.LevelProjectResultId, courseId = ViewBag.CourseId })" >
                            <i class="icon-edit"></i>Gefa einkunn </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelProject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInfo.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherFeedback)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFeedback)
                    </td>
                    <td>
                        <a name="button" class="btn btn-small" href="@Url.Action("GetReturn", new { id = item.LevelProjectResultId })" >
                            <i class="icon-download-alt"></i>Sækja skil </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelProject.GradePercentageValue)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelProject.Description)
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
<div class="control-group">
    <div class="controls">
        @Html.ActionLink("Aftur á forsíðu verkefna", "Index", new { id = ViewBag.CourseId }, new { @class = "btn btn-small" })
    </div>
</div>
