@model Ru.GameSchool.Web.Models.LoginModel

@{
    ViewBag.Title = "Innskráning";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm((string)ViewBag.FormAction, "Account")) {
    @Html.ValidationSummary(true, "Innskráning heppnaðist ekki. vinsamlegast leiðréttið og reynið aftur.")

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>

        </ol>

    
        <div class="control-group">
        <div class="controls">
        <button type="submit" class="btn btn-success" >Ská mig inn</button>
        </div>
        </div>
    </fieldset>


}
