@{
    ViewBag.Title = "Forsíða";
}

<div class="hero-unit">
    <h1>GameSchool</h1>
    @foreach (var item in ViewBag.AnnouncementList)
    {
        <article>
            <h3><span class="gray">@item.DisplayDateTime.ToString("dd.MM.yyyy") | </span><a data-toggle="modal" href="/Course/Announcement/@item.AnnouncementId">@item.Title</a></h3>
            <p>
                @item.Article
            </p>
        </article>
    }
</div>


<div class="row-fluid course-box">
    
    <h2>Þín námskeið</h2>
@if (ViewBag.UserCourseList != null && ViewBag.UserCourseList.Count > 0)
{
    foreach (var item in ViewBag.UserCourseList)
    {
        <text>
        <div class="row-fluid">
            @foreach (var nesteditem in item)
            {
            <div class="span4 well">
                <h3>@nesteditem.Name</h3>
                <ul>
                    <li><a href="/Home/Material">MVC 4 </a><span class="label label-important">Nýtt</span></li>
                    <li><a href="/Home/Exam">Netpróf 2 </a><span class="label label-important">Nýtt</span></li>
                    <li><a href="/Home/Project">CSS</a></li>
                    <li><a href="/Home/Project">HTML5 glærur</a></li>
                </ul>
                <p>@Html.ActionLink("Fara í námskeið", "Item", "Course", new { id = @nesteditem.CourseId }, new { @class = "btn btn-small" })</p>
            </div><!--/span-->
            }
        </div><!--/row-->
        </text>
    }
}
else
{
    <p>Notandi er ekki skráður í námskeið</p>
}
</div>
